@import "tailwindcss";

@theme {
    --color-brand: #1ED760;
    --color-custom-gray-500: #272727;
    --color-custom-gray-600: #121212;
}

h1,
h2,
h3 {
    @apply font-bold;
    font-family: "Montserrat", sans-serif;
}

label {
    font-family: "Montserrat", sans-serif;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

.input {
    @apply border border-gray-600 h-10 py-6 px-3 rounded-sm;
}

.button {
    @apply cursor-pointer rounded-full;
}

.buttons-social-media {
    > .button {
        @apply border-gray-400 border-1 px-8 py-3 flex justify-start items-center;
    }
}